* {
  box-sizing: border-box;
}

#app {
	height: 100vh;
	display: flex;
	flex-direction: column;
  align-items: center;
	justify-content: end;
}

.container {
  position: relative;
	max-width: 600px;
	width: 100%;
  aspect-ratio: 1/1;
}

.face {
  content: "";
  position: absolute;
  border-radius: 50% 50% 0% 0%;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-width: 2px 2px 0px 2px;
}

#left-eye,
#right-eye {
  width: 22%;
  height: 22%;
  border: 10px solid #0000;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 0px 0px 2px #000;
  top: 20%;
  background: white;
}

#eye-lash {
  z-index: -1;
  position: absolute;
  height: 170%;
  width: 170%;
  top: -35%;
  left: -35%;
  border-radius: 50%;
  background: conic-gradient(
    from -45deg,
    black 2deg,
    white 2deg 44deg,
    black 44deg 46deg,
    white 46deg 90deg,
    black 90deg 92deg,
    white 92deg
  );
}

#left-eye {
  right: 20%;
}

#right-eye {
  left: 20%;
}

#left-pupil,
#right-pupil {
  border-radius: 50%;
  position: absolute;
  width: 10px;
  aspect-ratio: 1/1;
  background: #000;
  left: calc(50% - 5px);
  top: calc(50% - 5px);
}

#mouth {
  width: 60%;
  height: 30%;
  position: absolute;
  background: radial-gradient(
    circle at 30%,
    #ffbf00 0px,
    #ffd700 55%,
    #ffb700 30%
  );
  left: 20%;
  top: 45%;
  border: 2px solid;
  border-radius: 100%;
  overflow: clip;
}

#mouth::after {
  content: "";
  width: 133%;
  height: 100%;
  position: absolute;
  left: -18%;
  top: 35%;
  border: 2px solid;
  border-radius: 100%;
}

